header{
    background-color: black;
    color: white;
    text-align: center;
    /* list-style: none; */
}
.listinnav{
    display:inline-flex;
    list-style: none;
    margin: 0px,10px;
   
    
}
main{
    padding: 10px;
}


label{
    margin-top: 15px;
    margin-bottom: 15px;
}
input{
    margin-top: 15px;
    margin-bottom: 15px;
}
button{
    size: 500px;
    margin-top: 5px;
}
footer{
    text-align: center;
    background-color: black;
    color: white;
}