.container{
    text-align: center;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 10%;
    box-shadow: 10px 10px 42px 34px rgb(5, 79, 103);
}
.answer-list{
   list-style: none;
}

input[type="radio"]:hover
{
    box-shadow: 0px 0px 0px 5px rgba(80,80,200,0.2);
    border-radius: 50%;
    opacity: 1;
    list-style-type: none;
}
.submit-answer{
    background-color: darkgreen;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    
}